<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>Công ty TNHH Gian Hàng Trực Tuyến Việt Nam</p>
            </div>
            <div class="col-md-6">
                <p class="text-right">Design by Mr.Quoc</p>
            </div>
        </div>
    </div>
</footer>
