<nav class="side-navbar">
    <!-- Sidebar Header-->

    <ul class="list-unstyled components">
        <span class="heading">Menu quản lý</span>
        <li>
            <a href="/Admin/Home/Index"><i class="fas fa-envelope menu-icon"></i> Trang chủ</a>

        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i> Quản lý sản phẩm</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="/Admin/Product/Index">Sản phẩm</a></li>
                <li><a href="#">Dòng sản phẩm</a></li>
                <li><a href="#">Thuộc tính</a></li>
                <li><a href="#">Nhóm thuộc tính</a></li>

            </ul>
        </li>
        <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i> Quản lý bán hàng</a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li><a href="/Admin/DonHang/Index">Đơn đặt hàng</a></li>
                <li><a href="#">Quà tặng</a></li>
                <li><a href="#">Phiếu bảo hành</a></li>
                <li><a href="#">Phiếu đổi trả</a></li>
                <li><a href="#">Phiếu xuất</a></li>

            </ul>
        </li>
        <li>
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i> Quản lý nhập hàng</a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
                <li><a href="/Admin/NhaCungCap/Index">Quản Lí Nhà Cung Cấp</a></li>
                <li><a href="/Admin/NhaSanXuat/Index">Quản Lí Nhà Sản Xuất</a></li>
            </ul>

        </li>
        <li>

            <a href="#pageTinTuc" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i>Quản lý tin tức</a>
            <ul class="collapse list-unstyled" id="pageTinTuc">
                <li><a href="/Admin/LoaiTinTuc/Index">Quản Lý Loại Tin Tức</a></li>
                <li><a href="/Admin/TinTuc/Index">Danh Sách Tin</a></li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i>Quản lý tài khoản</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3">
                <li><a href="/Admin/User/Index">Danh sách tài khoản</a></li>
                <li><a href="/Admin/LoaiTaiKhoan/Index">Danh sách loại tài khoản</a></li>

            </ul>
        </li>

        <li>
            <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i> Quản lý thanh toán</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4">
                <li><a href="#">Hóa đơn đặt hàng</a></li>
                <li><a href="#">Hóa đơn nhập hàng</a></li>
                <li><a href="#">Hóa đơn đổi trả</a></li>
            </ul>
        </li>
        <li>
    
            <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false"><i class="fas fa-envelope menu-icon"></i> Quản lý giao diện</a>
            <ul class="collapse list-unstyled" id="pageSubmenu5">
                <li><a href="/Admin/Banner/Index">Banner giữa</a></li>
                <li><a href="/Admin/Footer/Index">Chỉnh sửa Footer</a></li>
                <li><a href="#">Hóa đơn đổi trả</a></li>
            </ul>
        </li>

        <li>
            <a href="#"><i class="fas fa-envelope menu-icon"></i> Quản lý menu</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-envelope menu-icon"></i> Cấu hình hệ thống</a>
        </li>

    </ul>
    <ul class="list-unstyled button">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="~/Assets/admin/images/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4">Trương Hoàng Nhựt</h1>
                <p>Web Designer</p>
            </div>
    </ul>
</nav>
