
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    <h2>Lỗi không  được quyền</h2>
}
<div class="alert alert-danger">
    Bạn không được quyền truy cập
</div>

