@model List<bandienthoai.Models.EF.ORDER>
@{
    Layout = "~/Views/Shared/_Shipper.cshtml";

}



<div class="content">
    <h2>Danh sách đơn hàng</h2>
    <div class="table-responsive-sm">
        <table class="table table-striped" style="font-size:13px">
            <thead>
            <th width="10%">Đơn hàng</th>
            <th width="80%">Thông tin giao hàng</th>

            <th width="10%">Xem chi tiết</th>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>
                            <p class="m-1"><span><i class="fa fa-map-marker" style="color:blue"></i>  &nbsp;Điểm nhận: &nbsp;</span>(Mobile Shop)140 Lê Trọng Tấn</p>
                            <p class="m-1"><span><i class="fa fa-map-marker" style="color:red"></i> &nbsp;Điểm giao: &nbsp;</span>@item.SHIPDDRESS</p>
                        </td>

                        <td><a href="/Shipper/Detail-@item.ID" class="btn btn-info btn-submit">Xem</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section js{
    <script>
        var order = {
            init: function () {
                order.regEvents();
            },
            regEvents: function (id) {
            
               
                $('#btnUpdate').off('click').on('click', function () {
                   
                  
                  

                    $.ajax({
                        url: '',
                        data: { id:id },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/gio-hang";
                            }

                        }
                    });
                });
              
            }
        }
        order.init();
    </script>
}


