@model bandienthoai.Areas.Admin.Models.LoaitaiKhoanModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    <h2 class="no-margin-bottom">Quản Lý Sản Phẩm</h2>
    <div class="page-button ml-auto">
        <a href="/Admin/Home/Index"><button id="btn-back" type="button" class="btn btn-default"><i class="fas fa-arrow-left"></i> Trở Về</button></a>
        <a href="#"><button id="btn-add" type="button" class="btn btn-default" onclick="AddNew(0)"><i class="fas fa-plus"></i> Tạo Mới</a></button></a>

    </div>
}



<div class="container">
    <table id="customer_data" class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th> Loại Tài Khoản</th>
                <th>Người Tạo</th>
                <th>Người Cập Nhật</th>
                <th>Thời Gian Tạo</th>
                <th>Thời Gian Cập Nhật</th>
                <th>Ghi chú</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="setTkList">
            <tr id="loadingStatus" style="color:red"></tr>
        </tbody>
    </table>


    @*Create A Popup Modal With Registration Form For Add Or Edit Record*@
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>

                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.IDLOAITAIKHOAN, new { @id = "LoaiId" })
                            <div class="form-group">
                                @Html.HiddenFor(m => m.TENLOAITAIKHOAN, new { @id = "NametypeUser", @class = "form-control", @placeholder = "Loại tài khoản*" })



                                <label class="checkbox-inline">
                                    <input type="radio" name="typeUser" value="Admin" />Admin
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="typeUser" value="Client" checked />Client
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="typeUser" value="Staff" />Staff
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.GHICHU, new { @id = "Ghichu", @class = "form-control", @placeholder = "Ghi chú*" })
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveRecord">Lưu</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*Create A Popup Modal With Registration Form For delete Record*@
    <div class="modal fade" id="DeleteConfim">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>

                </div>
                <div class="modal-body">
                    <h4>Xóa 1 loại tài khoản</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i></a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()"><i class="fas fa-check"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section jsFooter{

    <script>
    
        $(document).ready(function () {
            loaddata();
            function loaddata() {
                $("#loadingStatus").html("Loading...");
             //   $.get("/LoaiTaiKhoan/GetListLoaiTaikhoan", null, DataBind);
                $.ajax({
                    type: "GET",
                    url: "/LoaiTaiKhoan/GetListLoaiTaikhoan",
                    success: function (TkList) {
               
                        DataBind(TkList);



                    }
                });
            }

            function DataBind(TkList) {
                var setData = $("#setTkList");
                for (var i = 0; TkList.length; i++) {
                    var data = "<tr class='row_" + TkList[i].IDLOAITAIKHOAN + "'>" +
                        "<td><p>" + (i + 1) + "</p></td>" +
                        "<td>" + TkList[i].IDLOAITAIKHOAN + "</td>" +
                        "<td>" + TkList[i].TENLOAITAIKHOAN + "</td>" +
                        "<td>" + TkList[i].CREATEBY + "</td>" +

                        "<td>" + TkList[i].MODIFILEDBY + "</td>" +
                        "<td>" + TkList[i].CREATEDATE + "</td>" +
                        "<td>" + TkList[i].MODIFILEDDATE + "</td>" +
                        "<td>" + TkList[i].GHICHU + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-warning' onclick='EditRecord(" + TkList[i].IDLOAITAIKHOAN + ")' ><span class='glyphicon glyphicon-edit'>Chỉnh Sửa</span></a>" + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteRecord(" + TkList[i].IDLOAITAIKHOAN + ")'><span class='glyphicon glyphicon-trash'>Xóa</span></a>" + "</td>" +
                        "</tr>";
                    setData.append(data);
                    $("#loadingStatus").html(" ");
                }
          
            
            }
            //Show The Popup Modal For Add New




        });
        function CheckStatus() {

            var checkbox = document.getElementsByName("typeUser");

            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true && checkbox[i].value == "Admin") {
                    $("#NametypeUser").val("Admin");
                    return;
                }
                else if (checkbox[i].checked === true && checkbox[i].value == "Staff") {
                    $("#NametypeUser").val("Staff");

                    return;
                }
                else if (checkbox[i].checked === true && checkbox[i].value == "Client") {

                    $("#NametypeUser").val("Client");
                    return;
                }

            }
            @*@ViewBag.Ghichu = $(this).attr("txtContent");*@

        }
        function AddNew(Id) {
            $("#form")[0].reset();
            $("#LoaiId").val(0);

            $("#ModalTitle").html("Thêm mới");
            $("#MyModal").modal();

        }
        //Show The Popup Modal For Edit Student Record

        function EditRecord(Id) {
            var url = "/LoaiTaiKhoan/GetListLoaiTaikhoanByID?ID=" + Id;
            $("#ModalTitle").html("Chỉnh sửa");
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                 
                    $("#LoaiId").val(obj.LOAITAIKHOAN_ID);
                    $("#NametypeUser").val(obj.TENLOAITK);
                    $("#Ghichu").val(obj.GHICHU_LOAITAIKHOAN);


                }
            })
        }
        $("#SaveRecord").click(function () {
        CheckStatus();
            var data = $("#SubmitForm").serialize();

            $.ajax({
                type: "POST",
                url: "/LoaiTaiKhoan/SaveData",
                data: data,
                success: function (data) {
                    window.location.href = "/Admin/LoaiTaiKhoan/Index";
                    $("#MyModal").modal("hide");
                }
            })


        });
        //delete
        function DeleteRecord(id) {
            $("#LoaiId").val(id);
            $("#DeleteConfim").modal("show");
        }
        function ConfirmDelete() {
            var loaiId = $("#LoaiId").val();
            $.ajax({
                type: "POST",
                url: "/LoaiTaiKhoan/Delete?id=" + loaiId,

                success: function (value) {
                    if (value) {
                        $("#DeleteConfim").modal("hide");
                        $(".row_" + loaiId).remove();
                        $(".alert").html("Xóa thành công!");
                        $(".alert").classList.add("show");
                       

                    }
                    else {
                        $("#DeleteConfim").modal("hide");
                        $(".alert").html("Xóa thất bại!");
                        $(".alert").classList.add("show");
                        
                      
                    }
                 
                }
            })
        }


    </script>
}