
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1> Đăng ký thành viên</h1>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {

    }
</div>

