USE [master]
GO
/****** Object:  Database [WEB_DIENTHOAI]    Script Date: 5/19/2019 9:11:20 PM ******/
CREATE DATABASE [WEB_DIENTHOAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEB_DIENTHOAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WEB_DIENTHOAI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WEB_DIENTHOAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WEB_DIENTHOAI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEB_DIENTHOAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEB_DIENTHOAI]
GO
/****** Object:  Table [dbo].[BANGGIA]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIA](
	[IDGIA] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSANPHAM] [bigint] NULL,
	[GIANHAP] [float] NULL,
	[GIABAN] [float] NULL,
	[THOIGIANBD] [datetime] NULL,
	[THOIGIANKT] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK_BANGGIA] PRIMARY KEY CLUSTERED 
(
	[IDGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANNER](
	[BANNER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTK] [int] NOT NULL,
	[HINH] [nvarchar](250) NOT NULL,
	[LINK] [varchar](250) NULL,
	[VITRI] [int] NOT NULL,
	[TIEUDE] [nvarchar](250) NULL,
	[GHICHU_BANNER] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_BANNER] PRIMARY KEY NONCLUSTERED 
(
	[BANNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[BINHLUAN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENTK] [int] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[THOIGIAN_BINHLUAN] [nvarchar](30) NULL,
	[NOIDUNG] [nvarchar](900) NULL,
	[BINHLUANCHA_ID] [decimal](18, 0) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY NONCLUSTERED 
(
	[BINHLUAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[CHITIETHOADON_ID] [bigint] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[HOADON_ID] [bigint] NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SOLUONGBAN] [int] NOT NULL,
	[TINHTRANG_CTIETHOADON] [bit] NULL,
	[LYDO_CTIETHOADON] [nvarchar](500) NULL,
	[GHICHU_CTIETHOADON] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY NONCLUSTERED 
(
	[CHITIETHOADON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPHANG]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPHANG](
	[CHITIETPHIEUNHAPHANG_ID] [bigint] NOT NULL,
	[PHIEUNHAPHANG_ID] [bigint] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[SOLUONGTHUCNHAP] [int] NOT NULL,
	[DONGIA_CTNHAPHANG] [float] NULL,
	[TINHTRANG_CTPHIEUNHAPHANG] [bit] NULL,
	[LYDO_CTPHIEUNHAPHANG] [nvarchar](250) NULL,
	[GHICHU_CTIETPHIEUNHAPHANG] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[CHITIETPHIEUNHAPHANG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPKHO]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPKHO](
	[CTIETPHIEUNHAPKHO_ID] [decimal](18, 0) NOT NULL,
	[PHIEUNHAPKHO_ID] [decimal](18, 0) NOT NULL,
	[SANPHAM_ID] [decimal](18, 0) NOT NULL,
	[SOLUONG_CTIETNHAPKHO] [int] NOT NULL,
	[DONGIA_CTIETNHAPKHO] [decimal](18, 0) NOT NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPKHO] PRIMARY KEY NONCLUSTERED 
(
	[CTIETPHIEUNHAPKHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETQUATANG]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETQUATANG](
	[CHITIETQUATANG_ID] [bigint] NOT NULL,
	[QUATANG_ID] [bigint] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[SOLUONGQUATANG] [int] NOT NULL,
	[GHICHU_QUATANG] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CHITIETQUATANG] PRIMARY KEY CLUSTERED 
(
	[CHITIETQUATANG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTHUOCTINH]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUOCTINH](
	[CHITIETTHUOCTINH_ID] [decimal](18, 0) NOT NULL,
	[IDSANPHAM] [bigint] NULL,
	[THUOCTINH_ID] [bigint] NOT NULL,
	[TEN_CHITIETTHUOCTINH] [nvarchar](250) NOT NULL,
	[GIATRI_CHITIETTHUOCTINH] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CHITIETTHUOCTINH] PRIMARY KEY NONCLUSTERED 
(
	[CHITIETTHUOCTINH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTENT] [text] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTIETPHIEUBAOHANH]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTIETPHIEUBAOHANH](
	[CTIETPHIEUBAOHANH_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PHIEUBAOHANH_ID] [decimal](18, 0) NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[NGAYHEN] [varchar](30) NULL,
	[NGAYTRA] [varchar](30) NULL,
	[KYTHUATKIEMTRA] [nvarchar](50) NULL,
	[KYTHUATSUAMAY] [nvarchar](50) NULL,
	[TINHTRANG_CTBAOHANH] [bit] NULL,
	[GHICHU_CTIETBAOHANH] [nvarchar](500) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CTIETPHIEUBAOHANH] PRIMARY KEY CLUSTERED 
(
	[CTIETPHIEUBAOHANH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTIETPHIEUDOITRA]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTIETPHIEUDOITRA](
	[CTIETPHIEUDOITRA_ID] [bigint] NOT NULL,
	[PHIEUDOITRA_ID] [bigint] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[LYDO_CTDOITRA] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CTIETPHIEUDOITRA] PRIMARY KEY CLUSTERED 
(
	[CTIETPHIEUDOITRA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTIETPHIEUYCNHAPKHO]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTIETPHIEUYCNHAPKHO](
	[CTIETPHIEUYCNHAPKHO_ID] [decimal](18, 0) NOT NULL,
	[PHIEUYCNHAPKHO_ID] [bigint] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[SOLUONG_CTYCNHAPKHO] [int] NOT NULL,
	[DONGIA_CTYCNHAPKHO] [decimal](18, 0) NOT NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_CTIETPHIEUYCNHAPKHO] PRIMARY KEY NONCLUSTERED 
(
	[CTIETPHIEUYCNHAPKHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[IDTAIKHOAN] [int] NOT NULL,
	[SANPHAM_ID] [bigint] NOT NULL,
	[NOIDUNG_DANHGIA] [nvarchar](250) NULL,
	[SOSAO] [int] NULL,
	[THOIGIAN_DANHGIA] [nvarchar](30) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[IDTAIKHOAN] ASC,
	[SANPHAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[TITLE] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FOOTER]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOTER](
	[IDFOOTER] [bigint] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[IS_DELETE] [bit] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_FOOTER] PRIMARY KEY CLUSTERED 
(
	[IDFOOTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[HOADON_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[SHIPPER_ID] [int] NOT NULL,
	[IDTOAIKHOAN] [int] NOT NULL,
	[HINHTHUCTHANHTOAN] [bit] NOT NULL,
	[NGAYXUATHD] [datetime] NULL,
	[NGAYBDGIAO] [datetime] NULL,
	[NGAYKTGIAO] [datetime] NULL,
	[THANHTIEN_HOADON] [float] NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
	[GHICHU_HOADON] [nvarchar](250) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[HOADON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[GMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[LOAISANPHAM_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[DISPLAYORDER] [int] NULL,
	[PARENTID] [bigint] NULL,
	[TEN_LOAISANPHAM] [nvarchar](50) NOT NULL,
	[GHICHU_LOAISANPHAM] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[LOAISANPHAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[LOAITAIKHOAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITK] [nvarchar](255) NOT NULL,
	[GHICHU_LOAITAIKHOAN] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[LOAITAIKHOAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITINTUC]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITINTUC](
	[IDLOAITINTUC] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITIN] [nvarchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_LOAITINTUC] PRIMARY KEY CLUSTERED 
(
	[IDLOAITINTUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITT]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITT](
	[IDLOAITHUOCTINH] [bigint] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [datetime] NULL,
	[MODIFILEBY] [nvarchar](50) NULL,
	[MODIFILEDATE] [datetime] NULL,
 CONSTRAINT [PK_LOAITT] PRIMARY KEY CLUSTERED 
(
	[IDLOAITHUOCTINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEXT] [nvarchar](50) NULL,
	[PARENTID] [int] NULL,
	[LINK] [nvarchar](250) NULL,
	[TARGET] [nvarchar](50) NULL,
	[DISPLAYORDER] [int] NULL,
	[TYPEID] [int] NULL,
	[STATUS] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MENUTYPE]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUTYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_MENUTYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NCC] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [nchar](10) NULL,
	[TEN_NCC] [nvarchar](50) NOT NULL,
	[DIACHI_NCC] [nvarchar](300) NULL,
	[EMAIL_NCC] [nvarchar](250) NULL,
	[SDT_NCC] [char](11) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[ID_NSX] [int] IDENTITY(1,1) NOT NULL,
	[MANSX] [nchar](10) NULL,
	[TEN_NSX] [nvarchar](50) NOT NULL,
	[SDT_NSX] [char](11) NULL,
	[MOTA_NSX] [nvarchar](250) NULL,
	[DIACHI_NSX] [nvarchar](300) NULL,
	[GHICHU_NSX] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY NONCLUSTERED 
(
	[ID_NSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATEDATE] [datetime] NULL,
	[CUSTOMERID] [bigint] NULL,
	[SHIPNAME] [nvarchar](50) NULL,
	[SHIPMOBILE] [varchar](50) NULL,
	[SHIPDDRESS] [nvarchar](250) NULL,
	[SHIPEMAIL] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERDETAIL]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAIL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERID] [bigint] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[PRODUCTID] [bigint] NULL,
 CONSTRAINT [PK_ORDERDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[PHIEUBAOHANH_ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[HOADON_ID] [bigint] NOT NULL,
	[SOPHIEUBAOHANH] [varchar](50) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[THOIHAN] [int] NULL,
	[NGUOINHAN] [nvarchar](50) NULL,
	[GHICHU_PHIEUBAOHANH] [nvarchar](900) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUBAOHANH] PRIMARY KEY NONCLUSTERED 
(
	[PHIEUBAOHANH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDOITRA]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDOITRA](
	[PHIEUDOITRA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[HOADON_ID] [bigint] NOT NULL,
	[SOPHIEUDOITRA] [char](50) NOT NULL,
	[NGAYDOITRA] [datetime] NULL,
	[NGUOINHAN_DOITRA] [nvarchar](50) NULL,
	[LYDO] [varchar](250) NULL,
	[GHICHU_PHIEUDOITRA] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUDOITRA] PRIMARY KEY NONCLUSTERED 
(
	[PHIEUDOITRA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[PHIEUNHAPHANG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MA_NCC] [int] NOT NULL,
	[SOPHIEUNHAPHANG] [char](50) NOT NULL,
	[NGAYLAP_PHIEUNHAPHANG] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[NGUOIGIAO] [datetime] NULL,
	[TRANGTHAINHAPHANG] [nvarchar](255) NOT NULL,
	[GHICHU_NHAPHANG] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[PHIEUNHAPHANG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[PHIEUNHAPKHO_ID] [bigint] NOT NULL,
	[PHIEUYCNHAPKHO_ID] [bigint] NOT NULL,
	[SOPHIEUNHAPKHO] [nvarchar](50) NOT NULL,
	[NGAYLAP_PHIEUNHAPKHO] [datetime] NULL,
	[GHICHU_PHIEUNHAPKHO] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUNHAPKHO] PRIMARY KEY NONCLUSTERED 
(
	[PHIEUNHAPKHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUYEUCAUNHAPKHO]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUYEUCAUNHAPKHO](
	[PHIEUYCNHAPKHO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PHIEUNHAPHANG_ID] [bigint] NOT NULL,
	[SOPHIEUYCNHAPKHO] [nvarchar](50) NOT NULL,
	[TINHTRANG_PHIEUYCNHAPKHO] [bit] NULL,
	[GHICHU_PHIEUYCNHAPKHO] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUYEUCAUNHAPKHO] PRIMARY KEY NONCLUSTERED 
(
	[PHIEUYCNHAPKHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUATANG]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATANG](
	[QUATANG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TENQUATANG] [nvarchar](250) NOT NULL,
	[NGAYBATDAU_QUATANG] [datetime] NOT NULL,
	[NGAYKETTHUC_QUATANG] [datetime] NOT NULL,
	[TONGSOLUONG_QUATANG] [int] NULL,
	[GHICHU_QUATANG] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_QUATANG] PRIMARY KEY NONCLUSTERED 
(
	[QUATANG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[SANPHAM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOAISANPHAM_ID] [decimal](18, 0) NOT NULL,
	[ID_NSX] [int] NOT NULL,
	[ID_NCC] [int] NOT NULL,
	[MA_SANPHAM] [nvarchar](50) NOT NULL,
	[TEN_SANPHAM] [nvarchar](250) NOT NULL,
	[GHICHU_SANPHAM] [nvarchar](250) NULL,
	[MOTA_SANPHAM] [nvarchar](250) NULL,
	[GIANHAP] [decimal](18, 0) NULL,
	[GIA_SANPHAM] [decimal](18, 0) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[HINHANH_SANPHAM] [nvarchar](250) NULL,
	[SOLUONGTON] [bigint] NULL,
	[TONTOITHIEU] [int] NULL,
	[LUOTXEM] [int] NULL,
	[SPDIKEM] [nvarchar](500) NULL,
	[KHUYENMAI] [int] NOT NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[SANPHAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHIPPER]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER](
	[SHIPPER_ID] [int] IDENTITY(1,1) NOT NULL,
	[TENSHIPPER] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[GMAIL] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFLIEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY NONCLUSTERED 
(
	[SHIPPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SLIDE]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](250) NULL,
	[LINK] [nvarchar](250) NULL,
	[DISPLAYORDER] [int] NULL,
	[GHICHU] [nvarchar](250) NULL,
	[STATUS] [int] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_SLIDE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTAIKHOAN] [nvarchar](50) NULL,
	[LOAITAIKHOAN_ID] [int] NOT NULL,
	[SDT] [char](11) NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[EMAIL_TK] [nvarchar](250) NULL,
	[DIACHI_TK] [nvarchar](300) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[GHICHU_TK] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOCTINH]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCTINH](
	[THUOCTINH_ID] [bigint] NOT NULL,
	[IDLOAITT] [bigint] NULL,
	[TEN_THUOCTINH] [nvarchar](250) NOT NULL,
	[GIATRI_THUOCTINH] [nvarchar](250) NULL,
	[GHICHU_THUOCTINH] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_THUOCTINH] PRIMARY KEY NONCLUSTERED 
(
	[THUOCTINH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 5/19/2019 9:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[TINTUC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDTAIKHOAN] [int] NOT NULL,
	[IDLOAITINTUC] [int] NOT NULL,
	[TIEUDE_TINTUC] [nvarchar](250) NOT NULL,
	[MOTA_TINTUC] [nvarchar](250) NOT NULL,
	[NOIDUNG] [nvarchar](900) NULL,
	[HINHANH_TINTUC] [nvarchar](250) NULL,
	[GHICHU_TINTUC] [nvarchar](250) NULL,
	[IS_DELETE] [bit] NOT NULL,
	[CREATEBY] [nvarchar](50) NULL,
	[CREATEDATE] [datetime] NULL,
	[MODIFILEDBY] [nvarchar](50) NULL,
	[MODIFILEDDATE] [datetime] NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY NONCLUSTERED 
(
	[TINTUC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_DONGIA]  DEFAULT ((0)) FOR [GIANHAP]
GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_GIABAN]  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[BANGGIA] ADD  CONSTRAINT [DF_BANGGIA_THOIGIANBD]  DEFAULT (getdate()) FOR [THOIGIANBD]
GO
ALTER TABLE [dbo].[BINHLUAN] ADD  CONSTRAINT [DF_BINHLUAN_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [DF_CHITIETHOADON_GIABAN]  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [DF_CHITIETHOADON_SOLUONGBAN]  DEFAULT ((0)) FOR [SOLUONGBAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [DF_CHITIETHOADON_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] ADD  CONSTRAINT [DF_CHITIETPHIEUNHAPHANG_SOLUONGNHAP]  DEFAULT ((0)) FOR [SOLUONGNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] ADD  CONSTRAINT [DF_CHITIETPHIEUNHAPHANG_SOLUONGTHUCNHAP]  DEFAULT ((0)) FOR [SOLUONGTHUCNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] ADD  CONSTRAINT [DF_CHITIETPHIEUNHAPHANG_DONGIA_CTNHAPHANG]  DEFAULT ((0)) FOR [DONGIA_CTNHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETQUATANG] ADD  CONSTRAINT [DF_CHITIETQUATANG_SOLUONGQUATANG]  DEFAULT ((0)) FOR [SOLUONGQUATANG]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [DF_DANHGIA_SOSAO]  DEFAULT ((1)) FOR [SOSAO]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [DF_DANHGIA_THOIGIAN_DANHGIA]  DEFAULT ((0)) FOR [THOIGIAN_DANHGIA]
GO
ALTER TABLE [dbo].[DANHGIA] ADD  CONSTRAINT [DF_DANHGIA_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TRANGTHAI]  DEFAULT (N'chưa giao') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [DF_LOAISANPHAM_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [DF_LOAISANPHAM_CREATDATE]  DEFAULT (getdate()) FOR [CREATDATE]
GO
ALTER TABLE [dbo].[LOAITINTUC] ADD  CONSTRAINT [DF_LOAITINTUC_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[NHASANXUAT] ADD  CONSTRAINT [DF_NHASANXUAT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[ORDER] ADD  CONSTRAINT [DF_ORDER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] ADD  CONSTRAINT [DF_PHIEUBAOHANH_SOPHIEUBAOHANH]  DEFAULT ((0)) FOR [SOPHIEUBAOHANH]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] ADD  CONSTRAINT [DF_PHIEUBAOHANH_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] ADD  CONSTRAINT [DF_PHIEUBAOHANH_THOIHAN]  DEFAULT ((0)) FOR [THOIHAN]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] ADD  CONSTRAINT [DF_PHIEUBAOHANH_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[PHIEUDOITRA] ADD  CONSTRAINT [DF_PHIEUDOITRA_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] ADD  CONSTRAINT [DF_PHIEUNHAPHANG_NGAYLAP_PHIEUNHAPHANG]  DEFAULT (getdate()) FOR [NGAYLAP_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] ADD  CONSTRAINT [DF_PHIEUNHAPHANG_TRANGTHAINHAPHANG]  DEFAULT (N'CHƯA GIAO') FOR [TRANGTHAINHAPHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] ADD  CONSTRAINT [DF_PHIEUNHAPKHO_NGAYLAP_PHIEUNHAPKHO]  DEFAULT (getdate()) FOR [NGAYLAP_PHIEUNHAPKHO]
GO
ALTER TABLE [dbo].[QUATANG] ADD  CONSTRAINT [DF_QUATANG_NGAYBATDAU_QUATANG]  DEFAULT (getdate()) FOR [NGAYBATDAU_QUATANG]
GO
ALTER TABLE [dbo].[QUATANG] ADD  CONSTRAINT [DF_QUATANG_TONGSOLUONG_QUATANG]  DEFAULT ((0)) FOR [TONGSOLUONG_QUATANG]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_LOAISANPHAM_ID]  DEFAULT ((0)) FOR [LOAISANPHAM_ID]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_SOLUONGTON]  DEFAULT ((0)) FOR [SOLUONGTON]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_TONTOITHIEU]  DEFAULT ((0)) FOR [TONTOITHIEU]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_KHUYENMAI]  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[SHIPPER] ADD  CONSTRAINT [DF_SHIPPER_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[TINTUC] ADD  CONSTRAINT [DF_TINTUC_IS_DELETE]  DEFAULT ((0)) FOR [IS_DELETE]
GO
ALTER TABLE [dbo].[BANGGIA]  WITH CHECK ADD  CONSTRAINT [FK_BANGGIA_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[BANGGIA] CHECK CONSTRAINT [FK_BANGGIA_SANPHAM]
GO
ALTER TABLE [dbo].[BANNER]  WITH CHECK ADD  CONSTRAINT [FK_BANNER_RELATIONS_TAIKHOAN] FOREIGN KEY([TENTK])
REFERENCES [dbo].[TAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[BANNER] CHECK CONSTRAINT [FK_BANNER_RELATIONS_TAIKHOAN]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_RELATIONS_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_RELATIONS_TAIKHOAN] FOREIGN KEY([TENTK])
REFERENCES [dbo].[TAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_RELATIONS_TAIKHOAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_RELATIONS_HOADON] FOREIGN KEY([HOADON_ID])
REFERENCES [dbo].[HOADON] ([HOADON_ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_RELATIONS_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUNHA] FOREIGN KEY([PHIEUNHAPHANG_ID])
REFERENCES [dbo].[PHIEUNHAPHANG] ([PHIEUNHAPHANG_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_PHIEUNHA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPHANG] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETQUATANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETQ_RELATIONS_QUATANG] FOREIGN KEY([QUATANG_ID])
REFERENCES [dbo].[QUATANG] ([QUATANG_ID])
GO
ALTER TABLE [dbo].[CHITIETQUATANG] CHECK CONSTRAINT [FK_CHITIETQ_RELATIONS_QUATANG]
GO
ALTER TABLE [dbo].[CHITIETQUATANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETQ_RELATIONS_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CHITIETQUATANG] CHECK CONSTRAINT [FK_CHITIETQ_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETTHUOCTINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETT_RELATIONS_THUOCTIN] FOREIGN KEY([THUOCTINH_ID])
REFERENCES [dbo].[THUOCTINH] ([THUOCTINH_ID])
GO
ALTER TABLE [dbo].[CHITIETTHUOCTINH] CHECK CONSTRAINT [FK_CHITIETT_RELATIONS_THUOCTIN]
GO
ALTER TABLE [dbo].[CHITIETTHUOCTINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUOCTINH_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CHITIETTHUOCTINH] CHECK CONSTRAINT [FK_CHITIETTHUOCTINH_SANPHAM]
GO
ALTER TABLE [dbo].[CTIETPHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_CTIETPHIEUBAOHANH] FOREIGN KEY([PHIEUBAOHANH_ID])
REFERENCES [dbo].[PHIEUBAOHANH] ([PHIEUBAOHANH_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_CTIETPHIEUBAOHANH]
GO
ALTER TABLE [dbo].[CTIETPHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_CTIETPHIEUBAOHANH_SP] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_CTIETPHIEUBAOHANH_SP]
GO
ALTER TABLE [dbo].[CTIETPHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDOITRA_CTIETPHIEUDOITRA] FOREIGN KEY([PHIEUDOITRA_ID])
REFERENCES [dbo].[PHIEUDOITRA] ([PHIEUDOITRA_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUDOITRA] CHECK CONSTRAINT [FK_PHIEUDOITRA_CTIETPHIEUDOITRA]
GO
ALTER TABLE [dbo].[CTIETPHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDOITRA_CTIETPHIEUDOITRA_SP] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUDOITRA] CHECK CONSTRAINT [FK_PHIEUDOITRA_CTIETPHIEUDOITRA_SP]
GO
ALTER TABLE [dbo].[CTIETPHIEUYCNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTIETPHI_RELATIONS_PHIEUYEU] FOREIGN KEY([PHIEUYCNHAPKHO_ID])
REFERENCES [dbo].[PHIEUYEUCAUNHAPKHO] ([PHIEUYCNHAPKHO_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUYCNHAPKHO] CHECK CONSTRAINT [FK_CTIETPHI_RELATIONS_PHIEUYEU]
GO
ALTER TABLE [dbo].[CTIETPHIEUYCNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_CTIETPHI_RELATIONS_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[CTIETPHIEUYCNHAPKHO] CHECK CONSTRAINT [FK_CTIETPHI_RELATIONS_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DANHGIA_TAIKHOAN] FOREIGN KEY([IDTAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_DANHGIA_TAIKHOAN]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DANHGIA2_SANPHAM] FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([SANPHAM_ID])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_DANHGIA2_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_RELATIONS_TAIKHOAN] FOREIGN KEY([IDTOAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_RELATIONS_TAIKHOAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_SHIPPER] FOREIGN KEY([SHIPPER_ID])
REFERENCES [dbo].[SHIPPER] ([SHIPPER_ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_SHIPPER]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MENUTYPE] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[MENUTYPE] ([ID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MENUTYPE]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAO_RELATIONS_HOADON] FOREIGN KEY([HOADON_ID])
REFERENCES [dbo].[HOADON] ([HOADON_ID])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAO_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[PHIEUDOITRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDOI_RELATIONS_HOADON] FOREIGN KEY([HOADON_ID])
REFERENCES [dbo].[HOADON] ([HOADON_ID])
GO
ALTER TABLE [dbo].[PHIEUDOITRA] CHECK CONSTRAINT [FK_PHIEUDOI_RELATIONS_HOADON]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACUNGC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACUNGC]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_PHIEUYEU] FOREIGN KEY([PHIEUYCNHAPKHO_ID])
REFERENCES [dbo].[PHIEUYEUCAUNHAPKHO] ([PHIEUYCNHAPKHO_ID])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_PHIEUYEU]
GO
ALTER TABLE [dbo].[PHIEUYEUCAUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUYEU_RELATIONS_PHIEUNHA] FOREIGN KEY([PHIEUNHAPHANG_ID])
REFERENCES [dbo].[PHIEUNHAPHANG] ([PHIEUNHAPHANG_ID])
GO
ALTER TABLE [dbo].[PHIEUYEUCAUNHAPKHO] CHECK CONSTRAINT [FK_PHIEUYEU_RELATIONS_PHIEUNHA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([LOAISANPHAM_ID])
REFERENCES [dbo].[LOAISANPHAM] ([LOAISANPHAM_ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_RELATIONS_NHASANXU] FOREIGN KEY([ID_NSX])
REFERENCES [dbo].[NHASANXUAT] ([ID_NSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_RELATIONS_NHASANXU]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_RELATIONS_LOAITAIK] FOREIGN KEY([LOAITAIKHOAN_ID])
REFERENCES [dbo].[LOAITAIKHOAN] ([LOAITAIKHOAN_ID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_RELATIONS_LOAITAIK]
GO
ALTER TABLE [dbo].[THUOCTINH]  WITH CHECK ADD  CONSTRAINT [FK_THUOCTINH_LOAITT] FOREIGN KEY([IDLOAITT])
REFERENCES [dbo].[LOAITT] ([IDLOAITHUOCTINH])
GO
ALTER TABLE [dbo].[THUOCTINH] CHECK CONSTRAINT [FK_THUOCTINH_LOAITT]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_LOAITINTUC] FOREIGN KEY([IDLOAITINTUC])
REFERENCES [dbo].[LOAITINTUC] ([IDLOAITINTUC])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_LOAITINTUC]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_TAIKHOAN] FOREIGN KEY([IDTAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([ID])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_TAIKHOAN]
GO
USE [master]
GO
