<html>

<head>
    <title>Điện thoại di động</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/Assets/client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Assets/client/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/owl.theme.default.css" rel="stylesheet" />

    <link href="~/Assets/client/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/style-2.css" rel="stylesheet" />

    @RenderSection("style", required: false)

</head>

<body>


    <header>
        <div class="topbar p-2">
            <div class="container">
                @{ Html.RenderAction("TopBar", "TrangChu");}
            </div>
        </div>

        @*@RenderPage("TopBar.cshtml")*@
        @{Html.RenderAction("MainMenu", "TrangChu");}


        @RenderSection("Banner_Giua", required: false)

    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer group">
        <div id="footer" class="container group">
            @{ Html.RenderAction("Footer", "TrangChu");}
        </div>
    </div>
</body>

</html>

<script src="~/Assets/client/js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/client/js/bootstrap.min.js"></script>
<script src="~/Assets/client/js/owl.carousel.js"></script>
<script src="~/Assets/client/js/jquery-ui.min.js"></script>
@*<script src="~/Assets/client/controller/ContacController.js"></script>*@

@*<script>
    $(document).ready(function () {
        loaddata();
        function loaddata() {
            $("#loadingStatus").html("Loading...");
            //$.get("/NhaSanXuat/GetListNhaSX", null, DataBind);
            $.ajax({
                type: "GET",
                url: "/TrangChu/Footer",
                success: function (kq) {

                    var setData = $("#footer");
                    setData.append(kq);
                }

            });
        }
    });
</script>*@
<script>
    function AddCart(id) {

        $.ajax({
            url: '/Cart/AddCart',
            data: { id: id },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.status == true) {
                    $("#alertsuccess").html("Thêm thành công!");
                }

            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#goTop').fadeIn();
            } else {
                $('#goTop').fadeOut();
            }
        });
        $('#goTop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
</script>
<script>
    var common = {
        init: function () {
            common.regEvents();
        },
        regEvents: function () {
            $("#txtKeyword").autocomplete({
                minLength: 0,
                source: function (request, response) {
                    $.ajax({
                        url: "/SanPham/ListName",
                        dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function (res) {
                            response(res.kq)
                        }
                    });
                },
                focus: function (event, ui) {
                    $("#txtKeyword").val(ui.item.label);
                    return false;
                },
                select: function (event, ui) {
                    $("#txtKeyword").val(ui.item.label);
                    return false;
                }
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<a>" + item.label + "</a>")
                        .appendTo(ul);
                };
        }
    }
    common.init();
</script>
@RenderSection("js", required: false)
