<div class="slider-top">

    <div id="bannerTop" class="owl-carousel owl-theme">

        <div class="item">
            <img src="~/Assets/client/img/banner_collection.jpg" />
        </div>
        <div class="item">
            <img src="~/Assets/client/img/banner_collection.jpg" />
        </div>
        <div class="item">
            <img src="~/Assets/client/img/banner_collection.jpg" />
        </div>
        <div class="item">
            <img src="~/Assets/client/img/banner_collection.jpg" />
        </div>
    </div>

</div>
