<div class="footer-content group">
<div class="row">
<div class="col col-12 col-md-4 footer-block">
<h4><a href="#demo">asasas</a></h4>

<ul>
	<li><a href="/kia-morning-419501s.html" title="Kia Morning 2019">Kia Morning 2019</a></li>
	<li><a href="/kia-cerato-419509s.html" title="Kia Cerato 2019">Kia Cerato 2019</a></li>
	<li><a href="/kia-optima-419510s.html" title="Kia Optima 2019">Kia Optima 2019</a></li>
	<li><a href="/kia-rondo-419511s.html" title="Kia Rondo 2019">Kia Rondo 2019</a></li>
	<li><a href="/kia-sorento-419513s.html" title="Kia Sorento 2019">Kia Sorento 2019</a></li>
	<li><a href="/kia-sedona-419512s.html" title="Kia Sedona 2019">Kia Sedona 2019</a></li>
</ul>
</div>

<div class="col col-12 col-md-4 footer-block">
<h4><a href="#dichvu">asasas</a></h4>

<ul>
	<li><a href="#" title="Chế độ bảo hành">Chế độ bảo h&agrave;nh</a></li>
	<li><a href="#" title="Bảo dưỡng định kỳ">Bảo dưỡng định kỳ</a></li>
	<li><a href="#" title="Dịch vụ sửa chữa">Dịch vụ sửa chữa</a></li>
	<li><a href="#" title="Thay thế linh kiện phụ tùng">Thay thế linh kiện phụ t&ugrave;ng</a></li>
</ul>
</div>

<div class="border-left col col-12 col-md-4 footer-block">
<div class="contact">
<h4>KIA CẦU DIỄN</h4>

<ul>
	<li><em>&nbsp; </em>

	<p><strong>0901.966.388</strong> - Mr.H&ugrave;ng</p>
	</li>
	<li><em>&nbsp; </em>
	<p><span style="color:#000000">sonhungauto@gmail.com</span></p>
	</li>
	<li><em>&nbsp; </em>
	<p>Km 10.5, QL 32, Đường Cầu Diễn, Ph&uacute;c Diễn, Bắc Từ Li&ecirc;m, H&agrave; Nội</p>
	</li>
	<li><em>&nbsp; </em>
	<p><a href="https://dailykiacaudien3s.gianhangvn.com/"><span style="color:#000000">www.dailykiacaudien3s.gianhangvn.com</span></a></p>
	</li>
</ul>

<div class="footer-block group social">
<h4>Kết nối với ch&uacute;ng t&ocirc;i</h4>

<ul>
	<li><a class="icon" href="#" target="_blank" title="Fanpage"><em>&nbsp; </em> </a></li>
	<li><a class="icon" href="#" target="_blank" title="Google Plus"><em>&nbsp; </em> </a></li>
	<li><a class="icon" href="javascript:;" target="_blank" title="Twitter"><em>&nbsp; </em> </a></li>
	<li><a class="icon" href="https://dailykiacaudien3s.gianhangvn.com/sitemap.xml" target="_blank" title="RSS"><em>&nbsp; </em> </a></li>
	<li><a class="icon" href="https://dailykiacaudien3s.gianhangvn.com/sitemap.xml" target="_blank" title="SiteMap"><em>&nbsp; </em> </a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
