<h4><a href="http://localhost:55037/TrangChu/Index#demo">ASASAS</a></h4>

<ul>
	<li><a href="http://localhost:55037/kia-morning-419501s.html" title="Kia Morning 2019">Kia Morning 2019</a></li>
	<li><a href="http://localhost:55037/kia-cerato-419509s.html" title="Kia Cerato 2019">Kia Cerato 2019</a></li>
	<li><a href="http://localhost:55037/kia-optima-419510s.html" title="Kia Optima 2019">Kia Optima 2019</a></li>
	<li><a href="http://localhost:55037/kia-rondo-419511s.html" title="Kia Rondo 2019">Kia Rondo 2019</a></li>
	<li><a href="http://localhost:55037/kia-sorento-419513s.html" title="Kia Sorento 2019">Kia Sorento 2019</a></li>
	<li><a href="http://localhost:55037/kia-sedona-419512s.html" title="Kia Sedona 2019">Kia Sedona 2019</a></li>
</ul>

<h4><a href="http://localhost:55037/TrangChu/Index#dichvu">ASASAS</a></h4>

<ul>
	<li><a href="http://localhost:55037/TrangChu/Index#" title="Chế độ bảo hành">Chế độ bảo h&agrave;nh</a></li>
	<li><a href="http://localhost:55037/TrangChu/Index#" title="Bảo dưỡng định kỳ">Bảo dưỡng định kỳ</a></li>
	<li><a href="http://localhost:55037/TrangChu/Index#" title="Dịch vụ sửa chữa">Dịch vụ sửa chữa</a></li>
	<li><a href="http://localhost:55037/TrangChu/Index#" title="Thay thế linh kiện phụ tùng">Thay thế linh kiện phụ t&ugrave;ng</a></li>
</ul>

<h4>KIA CẦU DIỄN</h4>

<ul>
	<li><em>&nbsp;</em>

	<p><strong>0901.966.388</strong>&nbsp;- Mr.H&ugrave;ng</p>
	</li>
	<li><em>&nbsp;</em>
	<p>sonhungauto@gmail.com</p>
	</li>
	<li><em>&nbsp;</em>
	<p>Km 10.5, QL 32, Đường Cầu Diễn, Ph&uacute;c Diễn, Bắc Từ Li&ecirc;m, H&agrave; Nội</p>
	</li>
	<li><em>&nbsp;</em>
	<p><a href="https://dailykiacaudien3s.gianhangvn.com/">www.dailykiacaudien3s.gianhangvn.com</a></p>
	</li>
</ul>

<h4>KẾT NỐI VỚI CH&Uacute;NG T&Ocirc;I</h4>
